{% extends 'base.html' %}

{% block content %}
    <h1>درس های {{student_name}}</h1>
    <table>
        <thead>
            <tr>
                <th>نام درس</td>
                <th>مدرس</td>
                <th>زمان تشکیل</td>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.section.course.name }}</td>
                    <td>{{ object.section.instructor }}</td>
                    <td>{{ object.section.class_time }}</td>

                </tr>    
            {% endfor %}
            
        </tbody>
    </table>
{% endblock%}