{% extends 'base.html' %} {% block content %} 
<!-- 
<ul>
  <li>{{ student.first_name }} {{ student.last_name }}</li>
  <li>{{ student.first_name }}</li>
</ul> -->
  <table>
    <thead>
      <tr>
        <th>نام</th>
        <th>نام‌خانوادگی</th>
        <th>کدملی</th>
        <th>رشته</th>
      </tr>
    </thead>
    <tbody>
      {% for student in queryset %}
        <tr>
          <td>{{ student.first_name }}</td>
          <td>{{ student.last_name }}</td>
          <td>{{ student.national_id }}</td>
          <td>{{ student.major }}</td>
        </tr>
      {% endfor%} 
    </tbody>
  </table>
{% endblock%}
